$buttonColor: #5c6ac4;
$buttonHoverColor: #202e78;
$linksColor: #5c6ac4;
$headingColor: #212b35;
$textColor: #637389;
@mixin headingText {
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
}
@mixin contentText {
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
}
@mixin button {
	padding: 0.6875em 1.75em;
	box-shadow: none;
	background-color: transparent;
	color: #5c6ac4;
	border-width: 0.125em;
	border-style: solid;
	border-color: #5c6ac4;
	text-decoration: none;
	font-weight: 700;
	font-size: 1em;
	line-height: 1.133;
	-webkit-font-smoothing: antialiased;
	transition: 150ms ease;
	text-align: center;
	appearance: none;
	touch-action: manipulation;
	box-sizing: border-box;
}
